*{
    font-family: Arial, Helvetica, sans-serif;
}
.h2,h3{
    text-align: left;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    background-color: #004080;
    color: white;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 10rem;
  
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .nav{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header .logo img {
    height: 50px;
}

.header .nav ul {
    display: flex;
    list-style: none;
}


.header .nav ul li {
    margin-left: 20px;
    color: white;
}

.header .search input {
    padding: 5px;
    border-radius: 3px;
    border: none;
}


.main-content {
    padding: 20px;
    background-color: #00366C;
    margin-top: 60px;
}

.promocoes-destaque {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.promo-item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    width: 48%;
}

.promo-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.promocoes-secundarias {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.promocoes-secundarias .promo-item {
    width: calc(33.33% - 20px);
}
.outros{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.outros .promo-item{
    width: calc(33.33% - 20px);
}

.promocoes-destaque  > div:hover{
    background-color: white;
    box-shadow: 0px 0px 10px white;
}
.promocoes-secundarias > div:hover{
    background-color: white;
    box-shadow: 0px 0px 10px white;
}
.outros > div:hover{
    background-color: white;
    box-shadow: 0px 0px 10px #00366C;
}

/* Seção de Descontos */
.descontos {
    padding: 20px;
    background-color: #eee;
    text-align: center;
}

.desconto-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.desconto-item img {
    height: 50px;
}

/* Rodapé */
.footer {
    background-color: #004080;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content .social-media img {
    margin: 5px;
    width: 30px;
    height: 30px;
}
.btn {
    cursor: pointer;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #006dff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
  }


  
  .btn:hover {
    background-color:#103476;
  }

  .lupa {
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d549f;
  }
  

  .lupa img {
    height: 1.6rem;
  }
  

  .lupa:hover {
    background-color: #006dff;
  }
 
 
  
